.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.drag-panel {
  width: 130px;
  margin: 5px;

  div {
    height: 34px;
    background: #fff;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));

    &:hover {
      filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
    }

    img {
      height: 20px;
      margin-right: 10px;
    }
  }

}

#anchor-menu, #custom-menu {
  width: 130px;
  position: absolute;
  display: none;
  background: white;
  font-size: 12px;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  padding: 6px;

  .content {
    width: auto;
    display: flex;
    height: 34px;
    align-items: center;
    padding-left: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background: #f3f3f3;
    }

    img {
      height: 20px;
      margin-right: 10px;
    }
  }
}

#custom-menu {
  display: block;
}

.drawer-class {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  border-radius: 15px;
  width: 400px;
  height: 91%;
  background: #fff;
  bottom: 10px;
  right: 10px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
  font-size: 13px;
  box-sizing: border-box;

  .drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 0 16px;
    margin-bottom: 5px;

    .title {
      display: flex;
      align-items: center;
      justify-content: start;
      font-size: 15px;
      font-weight: bold;

      img {
        height: 26px;
        margin-right: 10px;
      }

    }

    .close {
      font-weight: bold;
      cursor: pointer;
      padding: 3px;
      font-size: 15px;
      border-radius: 5px;
    }
  }

  .line-class {
    height: 1px;
    background: #ecedee;
    margin: 13px 0;
  }

  ::v-deep {
    .el-input__inner {
      font-size: 13px;
      border: none;
      height: 30px;
      border-radius: 8px;
      //padding-left: 5px;

      &:hover {
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
      }

    }

  }

}

::v-deep {
  .lf-dnd-item {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .lf-dnd-shape {
    background-size: 30px;
    margin: 0 10px 0 0;
  }

  .lf-control {
    right: 0px;
    box-shadow: none;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.1));
  }

  .lf-node:hover {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
  }

  .lf-node {
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
  }

  .lf-graph {
    background: #f2f4f7;
  }

  .el-button {
    border: none;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.1));
  }

  .lf-edge-append {
    pointer-events: none;
  }

  .lf-mini-map {
    //ebedf1
    //padding: 0;
    background: #ebedf1;
    border: none;
  }

  .lf-minimap-viewport {
    background: rgba(48, 48, 48, 0.1);
  }
}

