.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.drag-panel {
  left: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 避免默认 stretch 拉伸高度 */
  row-gap: 10px;

  div {
    width: auto;
    height: 34px;
    background: #fff;
    border-radius: 10px;
    cursor: grab;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

    &:hover {
      p {
        opacity: 1;
        max-width: 200px;
        margin: 0 10px;
      }
    }

    p {
      font-size: 12px;
      opacity: 0;
      max-width: 0;
      overflow: hidden;
      white-space: nowrap;
      transition: all 0.3s;
    }

    img {
      height: 20px;

    }
  }

}

.drag-panel div p {

}

//.drag-panel div:hover p {
//  opacity: 1;
//  max-width: 200px; /* 设个足够大的值，让文字完全展开 */
//}

#anchor-menu, #custom-menu {
  width: 130px;
  position: absolute;
  display: none;
  background: white;
  font-size: 12px;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  padding: 6px;

  .content {
    width: auto;
    display: flex;
    height: 34px;
    align-items: center;
    padding-left: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background: #f3f3f3;
    }

    img {
      height: 20px;
      margin-right: 10px;
    }
  }
}

#custom-menu {
  display: block;
}

.drawer-class {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  border-radius: 15px;
  width: 450px;
  height: 91%;
  background: #fff;
  bottom: 10px;
  right: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 13px;
  box-sizing: border-box;
  user-select: none;

  .drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 0 16px;
    margin-bottom: 5px;

    .title {
      display: flex;
      align-items: center;
      justify-content: start;
      font-size: 15px;
      font-weight: bold;

      img {
        height: 26px;
        margin-right: 10px;
      }

    }

    .el-button {
      font-weight: bold;
      cursor: pointer;
      padding: 3px;
      font-size: 15px;
      border-radius: 5px;
      filter: none
    }

    .moreAlert-class {
      position: absolute;
      width: 200px;
      padding: 15px;
      background: #fff;
      border-radius: 5px;
      border: 1px solid #ecedee;
      z-index: 99;
      right: 0px;
      top: 28px;
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
    }
  }

  .resizer {
    width: 10px;
    height: 100px;
    background: #fff;
    border: 2px solid #000;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: ew-resize;
  }

  .line-class {
    height: 1px;
    background: #ecedee;
    margin: 10px 0;
  }

  ::v-deep {
    .describe {
      .el-input__inner {
        font-size: 13px;
        border: none;
        height: 30px;
        border-radius: 8px;
        background: #fff;
        //padding-left: 5px;

        &:hover {
          filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
        }

      }
    }
  }

}

.controlClass, .functionalArea {
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  width: 216px;
  height: 50px;
  background: #ebedf1;
  border: 8px solid #ebedf1;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  padding: 0 2px;
  justify-content: space-between;

  .el-button {
    padding: 8px 9px;
    margin-left: 0;
    font-size: 14px;
    border-radius: 8px;
  }

  .el-button:focus, .el-button:hover {
    background: #155aef;
    color: #fff;
  }

  .el-button.is-disabled:hover {
    background: #fff;
    color: revert;
  }
}

.functionalArea {
  width: auto;
  column-gap: 10px;
  bottom: revert;
  left: revert;
  top: 7px;
  right: 8px;
  border-radius: 10px;

  background: transparent;
  border: 0;
  height: 35px;

  .el-button:focus, .el-button:hover {
    background: #fff;
    color: revert;
  }

  .el-button {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.12)
    }
  }

  .blueButton {
    background: #155aef;
    color: #fff;

    &:hover, &:focus {
      background: #1351d8;
      color: #fff;
    }
  }
}

::v-deep {
  .lf-dnd-item {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .lf-dnd-shape {
    background-size: 30px;
    margin: 0 10px 0 0;
  }

  .lf-control {
    left: 220px;
    bottom: 5px;
    top: revert;
    right: revert;
    border-radius: 15px;
    box-shadow: none;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.1));
    margin: 0 0 0 5px;
  }

  .lf-node:hover {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.12));
  }

  .lf-node {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
  }

  .lf-graph {
    background: #f2f4f7;
  }

  .el-button {
    border: none;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.1));
  }

  .lf-edge-append {
    pointer-events: none;
  }

  .lf-mini-map {
    //ebedf1
    //padding: 0;
    background: #ebedf1;
    border: none;
    border-radius: 10px 10px 0 0;
  }

  .lf-minimap-viewport {
    background: rgba(48, 48, 48, 0.1);
  }
}

