* {
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;

  img {
    -webkit-user-drag: none; /* Safari/Chrome */
    user-drag: none; /* 非标准，部分浏览器支持 */
  }
}

.warpCard {
  background: #fcfcfd;
  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden;
  padding: 0 15px;

  .head {
    padding: 7px;
    font-size: 12px;
    font-weight: bold;
    color: #145aef;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 15px;
    font-weight: bold;

    img {
      height: 25px;
      margin-right: 10px;
    }
  }

  .el-input__inner {
    height: 32px;
    margin-top: 5px;
    font-size: 12px;
  }

  .el-select {
    width: 100%;
    margin-top: 0;
  }

  .el-input__suffix {
    height: 111%;
  }

  .el-select-dropdown {
    width: 100%;

  }

  .el-select-dropdown__item {
    span {
      font-size: 12px !important;
    }
  }

}

::-webkit-scrollbar {
  display: none;
}

.el-button--primary {
  background: #3f58fd;
  border: 0;

  &:hover {
    background: #3f58fdb2;
  }
}
