* {
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;

  img {
    -webkit-user-drag: none; /* Safari/Chrome */
    user-drag: none; /* 非标准，部分浏览器支持 */
  }
}

.warpCard {
  background: #fcfcfd;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
  padding: 0 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;

  .head {
    padding: 7px;
    font-size: 12px;
    font-weight: bold;
    color: #145aef;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 15px;
    font-weight: bold;

    img {
      height: 25px;
      margin-right: 10px;
    }
  }

  .el-input__inner {
    height: 32px;
    margin-top: 5px;
    font-size: 12px;
  }

  .el-select {
    width: 100%;
    margin-top: 0;
  }

  .el-input__suffix {
    height: 111%;
  }

  .el-select-dropdown {
    width: 100%;

  }

  .el-select-dropdown__item {
    span {
      font-size: 12px !important;
    }
  }

}

//::-webkit-scrollbar {
//  display: none;
//}

::-webkit-scrollbar {
  width: 6px; /* 纵向滚动条宽度 */
  height: 6px; /* 横向滚动条高度 */
}

/* 滚动条滑块（拖动的部分） */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

// el-dialog 遮罩层颜色
.v-modal {

}

.my-select-dropdown {
  .el-select-dropdown__item {
    font-size: 12px;
  }

  .el-select-dropdown__list {
    padding: 0;
    border-radius: 8px;
  }


}

.el-popper[x-placement^=bottom] {
  border-radius: 8px;
  overflow: hidden;
  margin-top: 5px;
}

.el-tooltip__popper.is-light {
  max-width: 200px;
  border: 0;
  box-shadow: 0px 0px 8px 8px rgba(87, 87, 87, 0.1);
  overflow: hidden;
  color: #676f83;
}

.el-dialog {
  margin: 0 auto !important;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  width: 36%;

  .title {
    margin-top: 12px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 15px;
    color: #354052
  }
}

.dialog-footer {
  text-align: right;

  .el-button {
    font-weight: normal;
    border-radius: 8px;
  }
}

.el-dialog__title {
  font-weight: bold;
}

.el-dialog__header {
  padding: 20px 20px 0
}

.el-dialog__headerbtn {
  display: none;
}

.el-dialog__body {
  padding: 10px 20px 10px;
  max-height: calc(100vh - 170px);
  min-height: 60vh;
  overflow-y: auto;
}

.el-dialog__footer {
  padding: 10px 20px 20px;
}

.el-notification__group {
  display: flex;
  align-items: center;

}

.el-notification__title {
  font-size: 13px;
  font-weight: bold;
  color: #101828;
  transform: scale(1.05);
}

.el-notification__icon {
  height: 30px;
  width: 16px;
  font-size: 19px;
  line-height: 30px;
}

.el-notification__closeBtn {
  top: 50%;
  transform: translateY(-50%);
  color: #676f83;
}

.el-notification {
  padding: 10px;
  background: linear-gradient(90deg, #ffffff, #fff3e0); // 告警
  //background: linear-gradient(90deg, #ffffff, #e6f7ee); // 成功
  //background: linear-gradient(90deg, #ffffff, #ffecec);  // 失败
  //background: linear-gradient(90deg, #ffffff, #e6f4ff); // info
  border: 0;
}

.el-button {
  filter: none !important;
}

.el-input__inner {
  background: #f9fafb;
}

.el-input__inner::placeholder {
  color: #98a2b3;
}

.alertClass {
  width: calc(100% - 20px);
  //overflow-x: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #fff;
  padding: 13px;
  position: absolute;
  left: 10px;
  top: 31px;
  z-index: 99999;
  border-radius: 8px;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

  .el-divider__text.is-left {
    font-size: 13px;
    font-weight: bold;
    color: #2c3e50;
    padding-left: 0px;
    left: 0;
  }


  .el-divider--horizontal {
    margin: 20px 0 16px;
  }

  // 单选框
  .el-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .el-radio-button {
    width: calc((100% - 10px) / 2) !important;
    height: 32px;
  }

  .el-radio-button__inner {
    font-weight: normal;
    border: none;
    border: 1px solid #e3e3e3 !important;
    border-radius: 8px !important;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background: #fcfcfd;
    font-size: 13px;

    &:hover {
      color: #409eff;
      border: 1px solid #409eff !important;
    }
  }

  .el-radio-button__orig-radio:checked + .el-radio-button__inner {
    background-color: #ecf5ff;
    box-shadow: none;
    color: #409eff;
    border: 1px solid #409eff !important;
  }


  .title {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 10px;
  }

}

.el-divider__text.is-left {
  left: -20px;
  color: #676f83;
  padding-right: 10px;
}

.el-divider {
  background: #ecedee;
}

.outputVar {
  display: block !important;
  font-weight: normal !important;
  line-height: 20px;
  color: #676f83;
  font-size: 12px;
  padding-left: 36px !important;


  strong {
    color: #2c3e50;
    font-size: 13px;
    margin-right: 5px;
  }

  .recallBlur {
    display: flex;
    padding-left: 10px;
    column-gap: 10px;
    //height: 225px;

    .line {
      background: #ecedee;
      width: 1px;
      //height: auto;
    }
  }
}

.content-class {
  margin-top: 5px;
  background: #f2f4f7;
  border-radius: 8px;
  height: 32px;
  font-weight: normal;
  color: #101828;
  font-size: 13px;
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
  column-gap: 6px;
  //width: 100%;

  .title-class {
    max-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
  }

  &:hover {
    background: #e9ebf0;
  }

  i {
    margin-left: auto;
    transition: 0.5s;
    transform: rotate(0deg);
  }
}

.addInfoClass {
  justify-content: center;
  margin-top: 10px;
}


// 没有底色的删除按钮
.noBackRemove {
  border: 0;
  background: #fff !important;
  padding: 7px;
  border-radius: 8px;


  i {
    font-weight: bold;
    font-size: 15px;
  }
}

.noBackRemove.is-plain {
  color: #667085;

  &:hover {
    background: #fee4e2 !important;
    color: #d92d20;
  }
}

// 有底色的删除按钮
.backRemove {
  border: 0;
  background: #f2f4f7 !important;
  padding: 7px;
  height: 32px;
  width: 32px !important;
  border-radius: 8px;
  box-shadow: none;

  i {
    font-weight: bold;
    font-size: 15px;
  }
}

.backRemove.is-plain {
  color: #667085;

  &:hover {
    background: #fee4e2 !important;
    color: #d92d20;
  }
}

.el-icon-arrow-down {
  transition: 0.5s;
}

// el-switch 开关样式
.el-switch__core {
  width: 28px !important;
  height: 16px;
  border-radius: 5px;

  &:after {
    width: 12px;
    height: 12px;
    border-radius: 3px;
  }
}

.el-switch.is-checked .el-switch__core::after {
  margin-left: -13px;
}

.el-radio__original {
  position: absolute;
  opacity: 0;
  outline: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.el-input--suffix .el-input__inner {
  padding-left: 9px;
  padding-right: 24px;
  font-size: 12px;
  height: 28px;
}

.addVarClass {
  .el-input__inner {
    height: 32px !important;
    width: 100% !important;
    background: #f9fafb;
    font-size: 12px;
  }

  .el-input--suffix .el-input__inner {
    background: #f2f4f7;
    border: 0;
  }

  .setVarClass {
    flex: 1;
    height: 30px;
    background: #f9fafb;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: normal;
    padding-left: 10px;
    color: #98a2b2;
    border: 1px solid #e4e4e4;
  }

  .el-button--danger {
    border: 0;
    background: #f2f4f7;
    padding: 7px;
    height: 32px;
    width: 32px;
    border-radius: 8px;
    box-shadow: none;


    i {
      font-weight: bold;
      font-size: 14px;
    }
  }

  .el-button--danger.is-plain {
    color: #667085;

    &:hover {
      background: #fee4e2 !important;
      color: #d92d20;
    }
  }
}

.my-dialog {
  .el-input__inner {
    height: auto;
    background: #f9fafb;
    border-radius: 8px !important;
  }

  .el-form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .el-form-item__label {
      text-align: left;
      font-size: 15px;
      font-weight: bold;
    }
  }

  // 单选框
  .el-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .el-radio-button {
    width: calc((100% - 20px) / 3);
    height: 60px;
  }

  .el-radio-button__inner {
    font-weight: normal;
    border: none;
    border: 1px solid #e3e3e3 !important;
    border-radius: 8px !important;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #fcfcfd;

    &:hover {
      color: #409eff;
      border: 1px solid #409eff !important;
    }
  }

  .el-radio-button__orig-radio:checked + .el-radio-button__inner {
    background-color: #ecf5ff;
    box-shadow: none;
    color: #409eff;
    border: 1px solid #409eff !important;
  }

  .el-input-number__decrease {
    width: 30%;
    border-radius: 8px 0 0 8px;
  }

  .el-input-number__increase {
    width: 30%;
    border-radius: 0 8px 8px 0;
  }

  .el-input-number {
    width: 100%;
  }

  .my-checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 5px;

    .el-checkbox {
      margin: 0 !important;
    }

    .el-checkbox__input {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

    .el-checkbox.is-bordered {
      height: auto;
      padding: 0 15px;
      border-radius: 8px;
    }

    .el-checkbox__label {
      padding: 0;
      display: flex;
      align-items: center;
      width: calc(100% - 35px);
      column-gap: 15px;
      padding: 9px 0;
      font-weight: normal !important;
      flex-wrap: wrap;

      p {
        text-wrap: wrap;
      }

    }

    .el-checkbox__input.is-checked + .el-checkbox__label {
      color: #667085;
    }
  }

  .el-tag {
    margin-right: 10px;
    border-radius: 8px;
  }

  .el-select__tags {
    .el-tag {
      background: #ecf5ff;
      color: #409eff;
      border-color: #d9ecff;
      margin-right: 0;

      .el-tag__close {
        color: #409eff;
        background: transparent;

        &:hover {
          color: #fff;
          background: #409eff;
        }
      }
    }
  }

  .button-new-tag {
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 8px;
    border-style: dashed;
    color: #bec4ce;
    font-weight: normal;

    &:hover {
      background-color: #fff;
      color: #667085 !important;
      border-color: #bec4ce;
    }
  }

  .input-new-tag {
    width: 161px;

    .el-input__inner {
      height: 32px;
      transform: translateY(1px);
      border-style: dashed;
    }
  }

  .el-select, .el-input--suffix .el-input__inner {
    width: 100%;
  }

}


.miniButton {
  padding: 6px 8px;
  border-radius: 6px;
  margin-left: auto;
}

.el-input__inner::placeholder {
  font-size: 13px;
}

.el-slider__runway.show-input {
  margin-right: 120px;
}

.el-slider__button {
  width: 5px;
  border-radius: 3px;
}

.input-new-tag {
  width: 100%;

  .el-input__inner {
    height: 32px;
    border-radius: 8px;
    padding: 0 10px;
    //transform: translateY(1px);
    border: 1px dashed #DCDFE6 !important;
  }
}

.el-input__icon {
  line-height: 32px;
}

.el-textarea__inner {
  background: #f1f3f6;
  font-size: 13px !important;
}

